body {
    padding-top: 100px;
}

.navbar-brand {
    height: 80px;
    padding: 0px 15px;
    line-height: 80px;
}

.navbar-nav>li>a {
    line-height: 80px;
    padding: 0px 15px;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table>caption+thead>tr:first-child>td,
table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>td,
table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
